{{#each users}}

<center>
	<div>
		<form method="post" action="/users/{{id}}?_method=DELETE">
			<div class="card-container">
				<div class="card">
					<h1></h1>
					<div class="">{{firstName}} {{surName}}</div>

					<p>Date Of Birth: {{DoB}}</p>
					<p>Address: {{address}}</p>
					<p>City: {{city}}</p>
					<p>State: {{state}}</p>
					<p>Postal Code: {{zipCode}}</p>
					<p>Mobile Number: {{mobileNo}}</p>

					<input type="hidden" name="_method" value="DELETE">
					<input type="submit" class="btn" value="Delete">
				</div>
			</div>
		</form>
	</div>

	{{else}}
	<p>Sorry, No user found</p>
</center>

{{/each}}