<div class="login-main-section">
    <div class="login-main-section-imag">
        <img src={{avatar}} alt="">
    </div>
    <div class="login-main-section-info">
        <div>
            <h3>Hello Hi</h3>
            <h1>{{firstName}} {{surName}}</h1>
        </div>
        <div>
            <h3>About Me</h3>
            <p>Date Of Birth: {{DoB}}</p>
            <p>Address: {{address}}</p>
            <p>City: {{city}}</p>
            <p>State: {{state}}</p>
            <p>Postal Code: {{zipCode}}</p>
            <p>Mobile Number: {{mobileNo}}</p>
            <a href="/userInfoForm" style="text-decoration: none"><i class="fa fa-pencil " aria-hidden="true" style="margin-top:30px;"></i>  edit details</a>
            <a href="/logout" style="text-decoration: none"><i style="margin-left:25px;"class="fa fa-sign-out" aria-hidden="true"></i>  Logout</a>
        </div>
  </div>
</div>