<center>
<br>
	<div>
		<button id="myBtn" style="float:left; margin-left:35%">Filter posts</button>
		<form action="/userSearchAdmin" method="POST" style="float: right; margin-right:30%">
			<input class="" type="text" placeholder="Search user..." name="firstname">
		</form>
	</div>
	

	<!-- The Modal -->
	<div id="myModal" class="modal">

	  <!-- Modal content -->
	  <div class="modal-content">
	    <span class="close">&times;</span>

	    <div>
   			 <form action="/findPost" method="POST">
        		Find posts by PIN :
        		<input type="number" name="pin" placeholder="eg. 781026">
        		<button type="submit">Find</button>
    		</form>
		</div>
		<br>
		<br>
	    <div>
	    	<form action="/findBypriority" method="POST">
	    	Search by priority : 
	    	<select name="priority" >
	            <option value="important">Important</option>
	            <option value="veryImportant">Very Important</option>
	            <option value="extremelyImportant">Extremely Important</option>
        	</select>
        	<button type="submit">Find</button>
        	</form>
	    </div>
	    <br>
	    <br>
	    <div>
	    	<form action="/sortingPost" method="POST">
	    		Sort by 	&nbsp; 	&nbsp; 	&nbsp; 	&nbsp; 	&nbsp; 	&nbsp; 	&nbsp; 	&nbsp; 	&nbsp; : 
	    		<select name="sorting">
	    			<option value="LastAdded">Last added posts</option>
	    			<option value="old">Older posts</option>
	    		</select>
	    		<button type="submit">Sort</button>
	    	</form>	
	    </div>

	  </div>

	</div> 
<br><br>

{{!-- Posts goes here --}}

	{{#each posts}}

		<div>
													<form method="post" action="/posts/{{id}}?_method=DELETE">
														<div class="card-container">
														<div class="card">
												
															<img src="{{imageUrlInCloud}}" alt="" width="400px" height="300px">
																<br>
																<div class=""><b>City/Village:</b> {{city_village}}</div>
																<br>
																<div><b>Pincode:</b> {{pincode}}</div>
																<div class=""><b>Problem:</b> {{description}}</div>
															<input type="hidden" name="_method" value="DELETE">
															<input type="submit" class="btn" value="Delete">

														</div>
														</div>
													</form>
		</div>

	{{else}}
		<p>No Posts</p>
	{{/each}}
</center>

<script type="text/javascript">
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on the button, open the modal
    btn.onclick = function() {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
        modal.style.display = "none";
        }
    }
</script>